
{{#link-to 'index'}}
	Home
{{/link-to}}
|
{{#link-to 'push'}}
	Push
{{/link-to}}
|
{{#link-to 'people'}}
	Data
{{/link-to}}

<hr>

<!--
<form {{action "pushIt" on="submit"}}>
  <button>
    Create Data
  </button>
</form>

<hr>
-->

{{outlet}}
